<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="OPCMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <OPCMonitor.Properties.Settings>
      <setting name="ProgID" serializeAs="String">
        <value>Kepware.KEPServerEX.V5</value>
      </setting>
      <setting name="ItemBase" serializeAs="String">
        <value>Channel1.Device1.TagMonito</value>
      </setting>
      <setting name="ConnectionString" serializeAs="String">
        <value>Data Source=(local)\SQLEXPRESS;Initial Catalog=OPCMonitor;Integrated Security=True;Application Name=OPCMonitor</value>
      </setting>
      <setting name="spAgua" serializeAs="String">
        <value>insertar_agua</value>
      </setting>
      <setting name="spLubricante" serializeAs="String">
        <value>insertar_lubricante</value>
      </setting>
      <setting name="spHorometro" serializeAs="String">
        <value>insertar_horometro</value>
      </setting>
      <setting name="spSoda" serializeAs="String">
        <value>insertar_soda</value>
      </setting>
      <setting name="spAditivo" serializeAs="String">
        <value>insertar_aditivo</value>
      </setting>
    </OPCMonitor.Properties.Settings>
  </userSettings>
  <connectionStrings>
    <add name="OPCMonitorEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local)\SQLEXPRESS;Initial Catalog=OPCMonitor;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>